<form action="/browse" method="get" class="browse-form" autocomplete="off">
    <label for="name" class="comic-heading text-3d">Search</label>
    <div class="browse-form-line">
        <input type="text" name="name" />
        <input type="submit" value="Search" />
    </div>
</form>
